#vrContainer {
    height: 100%;
    width: 100%;
    top: calc(50% - 250px);
  }
  
  /* This styles the 3D object inserted in the aside container */
  #vrContainer model-viewer {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: none;
  }
  
  #view-button {
    background: #ffffff;
    border-radius: 0px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: 'Myfont-Regular', serif;
    font-size: 15px;
    font-weight: 1000;
    max-width: 200px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    width: max-content;
    height: max-content;
    transform: translate3d(-50%, -50%, 0);
  }
  
  .album-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .album-text {
    font-family: 'Myfont-Regular', serif;
    font-size: 2.75rem;
    color: white;
  }
  
  .under-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .under-text {
    font-family: 'Myfont-Regular', serif;
    font-size: 2rem;
    font-style: italic;
    color: white;
  }
  
  
  .flowerView {
      background-color:rgb(1, 0, 1);
      padding:6rem;
      margin:0;
    }
    
    #header {
      font-family: 'Playfair Display', serif;
      font-size: 35px;
      color: white;
      cursor: pointer;
    }
  
    #video-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom:2rem;
    }
  
    #video-container model-viewer {
      height: 700px;
      width: 800px;
      top: 0;
      left: 0;
      border: none;
    }
    
    #flower {
      display: block;
      padding-bottom: 1.5rem;
      width: 7rem;
      -webkit-animation: flickerAnimation 1s infinite;
      -moz-animation: flickerAnimation 1s infinite;
      -o-animation: flickerAnimation 1s infinite;
       animation: flickerAnimation 1s infinite;
    }
  
    @media screen and (max-width: 768px) {    
      #flower {
        display: block;
        margin-top: -3rem;
        padding-bottom: 1.5rem;
        width: 5.5rem;
      }
    }
    
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      #flower {
        margin-top: -1rem;
        width: 5.5rem;
      }
    }
    
    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      #flower {
        width: 5.5rem;
      }
    }
  
    @keyframes flickerAnimation {
      0%   { opacity:1; }
      50%  { opacity:.55; }
      100% { opacity:1; }
    }
    @-o-keyframes flickerAnimation{
      0%   { opacity:1; }
      50%  { opacity:.55; }
      100% { opacity:1; }
    }
    @-moz-keyframes flickerAnimation{
      0%   { opacity:1; }
      50%  { opacity:.55; }
      100% { opacity:1; }
    }
    @-webkit-keyframes flickerAnimation{
      0%   { opacity:1; }
      50%  { opacity:.55; }
      100% { opacity:1; }
    }
    
    
    
  
    
    
  
    