.flowerView {
    background-color:rgb(1, 0, 1);
    padding:6rem;
    margin:0;
  }
  
  #header {
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    color: white;
    cursor: pointer;
  }

  #video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:2rem;
  }
  
  #flower {
    display: block;
    padding-bottom: 1.5rem;
    width: 7rem;
    opacity: .65;
  }
  
  #flower:hover {
    opacity: 1;
  }

  @media screen and (max-width: 768px) {    
    #flower {
      display: block;
      margin-top: -3rem;
      padding-bottom: 1.5rem;
      width: 5.5rem;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    #flower {
      margin-top: -1rem;
      width: 5.5rem;
    }
  }
  
  @media screen and (min-width: 1025px) and (max-width: 1200px) {
    #flower {
      width: 5.5rem;
    }
  }
  

  
  

  