.homePage {
  background-color:rgb(1, 0, 1);
  padding:2rem;
  margin:0; 
}

.homePage > nav > h1 {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 2.25rem;
  width: 2rem;
  color: white;
  margin-left: 2.25rem;
  margin-bottom: 2rem;
}

.homePage > .img_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-template-rows: repeat(2, 275px);
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.homePage > .img_list > li {
  opacity: .75;
}

.homePage > .img_list > li:hover {
  cursor: pointer;
  opacity: 1;
  margin-top: -5px;
  margin-left: -5px;
}

.homePage > .img_list > li:nth-child(1n) {
  grid-column: span 1;
  grid-row: span 1;
}

.homePage > .img_list > li:nth-child(2n) {
  grid-column: span 1;
  grid-row: span 2;
}

.homePage > .img_list > li:nth-child(3n) {
  grid-column: span 2;
  grid-row: span 2;
}

.homePage > .img_list > li:nth-child(4n) {
  grid-column: span 1;
  grid-row: span 2;
}

.homePage > .img_list > li > figure {
  height: 100%;
}

.homePage > .img_list > li > figure > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#ig {
  display: block;
  margin-top: 25px;
  margin-bottom: 50px;
  width: 5%;
}

@media screen and (max-width: 768px) {
  .homePage > .img_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-template-rows: repeat(2, 175px);
    grid-gap: 1rem;
    grid-auto-flow: dense;
  }

  .homePage > .img_list > li:nth-child(1n) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .homePage > .img_list > li:nth-child(2n) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .homePage > .img_list > li:nth-child(3n) {
    grid-column: span 2;
    grid-row: span 2;
    width: 75%;
  }

  .homePage > .img_list > li:nth-child(4n) {
    grid-column: span 1;
    grid-row: span 1;
  }

  #ig {
    margin-top: 25px;
    margin-bottom: 50px;
    width: 15%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .homePage > .img_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-template-rows: repeat(2, 175px);
    grid-gap: 1rem;
    grid-auto-flow: dense;
  }

  .homePage > .img_list > li:nth-child(1n) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .homePage > .img_list > li:nth-child(2n) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .homePage > .img_list > li:nth-child(3n) {
    grid-column: span 2;
    grid-row: span 2;
    width: 75%;
  }

  .homePage > .img_list > li:nth-child(4n) {
    grid-column: span 1;
    grid-row: span 2;
  }

  #ig {
    margin-top: 25px;
    margin-bottom: 50px;
    width: 10%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .homePage > .img_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-template-rows: repeat(2, 175px);
    grid-gap: 1rem;
    grid-auto-flow: dense;
  }

  .homePage > .img_list > li:nth-child(1n) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .homePage > .img_list > li:nth-child(2n) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .homePage > .img_list > li:nth-child(3n) {
    grid-column: span 2;
    grid-row: span 2;
    width: 100%;
  }

  .homePage > .img_list > li:nth-child(4n) {
    grid-column: span 1;
    grid-row: span 2;
  }

  #ig {
    margin-top: 25px;
    margin-bottom: 50px;
    width: 8%;
  }
}