.albumView {
  background-color:rgb(1, 0, 1);
  padding:2rem;
  margin:0;
}

.albumView > nav {
	text-align: center;
  margin-bottom: 25px;
  margin-left: 35px;
}

.albumView > nav > a {
	text-align: center;
	color:#FFF;
  font-size: 35px;
  color: white;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
	margin-top: -15px;
}

#header {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  width: 5px;
  color: white;
  cursor: pointer;
}

.album-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.album-text {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  color: white;
}

#mask {
  display: block;
  width: 15rem;
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
   animation: flickerAnimation 1s infinite;
}

.under-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
}

.under-text {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-style: italic;
  color: white;
}




#applewar {
  width: 6rem;
  opacity: 0.5;
}

#applewar:hover {
  opacity: 1;
  cursor: pointer;
}

#spotifywar {
  width: 5.25rem;
  opacity: 0.5;
}

#spotifywar:hover {
  opacity: 1;
  cursor: pointer;
}

#tidalwar {
  width: 5.25rem;
  opacity: 0.5;
}

#tidalwar:hover {
  opacity: 1;
  cursor: pointer;
}

#bcwar {
  width: 5.25rem;
  opacity: 0.5;
}

#bcwar:hover {
  opacity: 1;
  cursor: pointer;
}




.youtube-player {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 25vh;
  padding-top: 2rem;
}



.albumView > .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-template-rows: repeat(2, 275px);
  grid-gap: 1rem;
  grid-auto-flow: dense;
  margin-left: -2rem;
  padding-bottom: 2rem;
}

.albumView > .grid > li {
  opacity: .65;
}

.albumView > .grid > li:hover {
  opacity: 1;
  margin-top: -5px;
  margin-left: -5px;
}

.albumView > .grid > li:nth-child(1n) {
  grid-column: span 2;
  grid-row: span 2;
}

.albumView > .grid > li:nth-child(2n) {
  grid-column: span 1;
  grid-row: span 1;
}

.albumView > .grid > li:nth-child(3n) {
  grid-column: span 1;
  grid-row: span 2;
}

.albumView > .grid > li:nth-child(4n) {
  grid-column: span 1;
  grid-row: span 2;
}

.albumView > .grid > li:nth-child(5n) {
  grid-column: span 1;
  grid-row: span 1;
}

.albumView > .grid > li > figure {
  height: 100%;
}
.albumView > .grid > li > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {

  
  .albumView > .grid > li:nth-child(1n) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .albumView > .grid > li:nth-child(2n) {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .albumView > .grid > li:nth-child(3n) {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .albumView > .grid > li:nth-child(4n) {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .albumView > .grid > li:nth-child(5n) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .albumView > .grid > li > figure {
    height: 100%;
  }
  .albumView > .grid > li > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .albumView > .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-template-rows: repeat(2, 275px);
    grid-gap: 1rem;
    grid-auto-flow: dense;
    padding-bottom: 2rem;
  }
  
  .albumView > .grid > li:nth-child(1n) {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .albumView > .grid > li:nth-child(2n) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .albumView > .grid > li:nth-child(3n) {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .albumView > .grid > li:nth-child(4n) {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .albumView > .grid > li:nth-child(5n) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .albumView > .grid > li > figure {
    height: 100%;
  }
  .albumView > .grid > li > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .albumView > .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-template-rows: repeat(2, 275px);
    grid-gap: 1rem;
    grid-auto-flow: dense;
    padding-bottom: 2rem;
  }
  
  .albumView > .grid > li:nth-child(1n) {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .albumView > .grid > li:nth-child(2n) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .albumView > .grid > li:nth-child(3n) {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .albumView > .grid > li:nth-child(4n) {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .albumView > .grid > li:nth-child(5n) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .albumView > .grid > li > figure {
    height: 100%;
  }
  .albumView > .grid > li > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:.55; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:.55; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:.55; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:.55; }
  100% { opacity:1; }
}











